@import url('https://fonts.googleapis.com/css2?family=Chicle&family=Libre+Franklin:wght@100;200;300;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DynaPuff:wght@400;500;600;700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  /*  font-family: 'Chicle', cursive;
    font-family: 'Libre Franklin', sans-serif; */
    font-family: 'DynaPuff', sans-serif;
    
}

header {
    padding: 10px 14px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #2a2929;;
    position: relative;
    box-shadow:0 5px 0 0 rgba(255, 255, 255, 8%),   0 5px 0 0 rgba(255, 255, 255, 8%);
}
header nav a{
    margin: 0 40px;
    text-decoration: none;
    font-size: medium;
    font-weight: bold;
    text-transform: uppercase;
    color: white;
    transition: color .4s;
}
header nav a:hover{
    color: #d72f2f;
    
}
header label{
  display: none;
}

header label::before{
    content: "\f0c9";
    font-family: "FontAwesome";
    font-size: 25px;
    cursor: pointer;
    color: white;
    
}
header input[type="checkbox"]{
    display: none;
}
/*****************************Header End*********************/

.main{
    flex: 1;
    display: flex;
    align-items: center;
    background-color: #2a2929;
    padding-top: 50px;
    padding-bottom: 80px;
    
    
}
.right img{
    width: 100%;
    border-radius: 50px;
    background: #2a2929;
    box-shadow:  20px 20px 12px #242323,
             -20px -20px 12px #302f2f;
}
.left{
    max-width: 45%;
    padding: 40px 64px;
}
.right{
    padding: 40px 48px;
}
.title{
    color: white;
    margin-bottom:15px;
    font-size: 2.6rem;
    text-transform: uppercase;
    text-shadow: -9px 0px 5px rgb(0 0 0 / 99%);
    letter-spacing: 3px;
    
}
span{
    color: #d72f2f;
}
.msg{
    margin-bottom: 15px;
    color: white;
    font-size: 1.2rem;
    letter-spacing: 0.7px;
    text-align: justify;
}
/*button{
    background-color: #d72f2f;
    padding: 18px 32px;
    border-radius: 30px;
    cursor: pointer;
    color: white;
    border: none;
    font-size: large;
    outline: none;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 0.8px;
    box-shadow:0 20px 35px rgba(255, 255, 255, 0.1), 0 15px 12px rgba(255, 255, 255, 0.08);
}
button:hover{
   background-color: #881b1b;
   transition: ease-in-out .4s;
   opacity: 0.9;
}*/ 
button a{
    text-decoration: none;
    color: #fff;
    font-weight: bold;
}
button,
button::after {
 padding: 16px 20px;
 font-size: 18px;
 background: linear-gradient(45deg, transparent 5%, #d82f2f 5%);
 border: 0;
 color: #fff;
 letter-spacing: 3px;
 line-height: 1;
 box-shadow: 6px 0px 0px #00e6f6;
 outline: transparent;
 position: relative;
 margin-top: 10px;
}

button::after {
 --slice-0: inset(50% 50% 50% 50%);
 --slice-1: inset(80% -6px 0 0);
 --slice-2: inset(50% -6px 30% 0);
 --slice-3: inset(10% -6px 85% 0);
 --slice-4: inset(40% -6px 43% 0);
 --slice-5: inset(80% -6px 5% 0);
 content: "HOVER ME";
 display: block;
 position: absolute;
 top: 0;
 left: 0;
 right: 0;
 bottom: 0;
 background: linear-gradient(45deg, transparent 3%, #00e6f6 3%, #00e6f6 5%, #d82f2f 5%);
 text-shadow: -3px -3px 0px #f8f005, 3px 3px 0px #00e6f6;
 clip-path: var(--slice-0);
 cursor: pointer;
}

button:hover::after {
 animation: 1s glitch;
 animation-timing-function: steps(2, end);
}

@keyframes glitch {
 0% {
  clip-path: var(--slice-1);
  transform: translate(-20px, -10px);
 }

 10% {
  clip-path: var(--slice-3);
  transform: translate(10px, 10px);
 }

 20% {
  clip-path: var(--slice-1);
  transform: translate(-10px, 10px);
 }

 30% {
  clip-path: var(--slice-3);
  transform: translate(0px, 5px);
 }

 40% {
  clip-path: var(--slice-2);
  transform: translate(-5px, 0px);
 }

 50% {
  clip-path: var(--slice-3);
  transform: translate(5px, 0px);
 }

 60% {
  clip-path: var(--slice-4);
  transform: translate(5px, 10px);
 }

 70% {
  clip-path: var(--slice-2);
  transform: translate(-10px, 10px);
 }

 80% {
  clip-path: var(--slice-5);
  transform: translate(20px, -10px);
 }

 90% {
  clip-path: var(--slice-1);
  transform: translate(-10px, 0px);
 }

 100% {
  clip-path: var(--slice-1);
  transform: translate(0);
 }
}

/*****************************Landing Page End*********************/
.about{
    
    background-color: #2a2929;
    width: 100%;
    padding-top: 50px;
    padding-bottom: 80px;
    
    

}
.container-about{
    
  /*  background-color: white; */
    width: 1000px;
    max-width: 95%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    /*padding-top: 30px;*/

}
.left1 img{
    height: auto;
    width: 300px;
    border-radius: 50px;
    background: #2a2929;
    box-shadow:  20px 20px 12px #242323,
             -20px -20px 12px #302f2f;
}
.right1{
    width: 550px;
    color: white;
    
}
.right1 h1{
    font-size: 50px;
    text-transform: uppercase;
    margin: -50px 0 20px 0;
    text-shadow: -9px 0px 5px rgb(0 0 0 / 99%);
    letter-spacing: 3px;
}
.right1 p{
    font-size: 15px;
    letter-spacing: 1px;
    line-height: 20px;
    margin-bottom: 20px;
    text-align: justify;
}
/*****************************Section About End*********************/

.container-card{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 25px;
    background-color: #2a2929;
    position: relative;
    padding-top: 50px;
    padding-bottom: 80px;
}
.title-container{
    font-size: 50px;
    text-transform: uppercase;
    text-shadow: -9px 0px 5px rgb(0 0 0 / 99%);
    letter-spacing: 3px;
    color: white;
    position: absolute;
    top: -38px;
    left: 81px;
}


.card{
    position: relative;
    background-color: #2a2929;
    max-width: 300px;
    height: 33em;
    margin: 40px auto auto;
    text-align: center;
    outline: none;
    border: 2px solid rgb(156, 56, 56);
    /*box-shadow: rgb(209 54 54 / 8%) 0px 5px 0px, rgb(56 14 14 / 8%) 0px 5px 0px;*/
    padding: 10px;
    color: white;
    
}
.card:hover {
    border: 1px solid #00e6f6;
    transform: scale(1.05);

  }
  
  .card:active {
    transform: scale(1.05) rotateZ(1.7deg);
  }
.card-img{
    margin-bottom: 10px;
    border-bottom: 3px solid #d82f2f;
}
.title-card{
    font-size: 1.6rem;
    font-weight: bold;
    text-transform: uppercase;
    box-shadow: 6px 0px 0px #d82f2f;
    padding: 0 8px 0px 81px;
    position: absolute;
    text-align: center;
}
.title-card:hover{
    box-shadow: -6px 0px 0px #d82f2f;
    padding: 0 81px 0 6px;
    position: absolute;
    left: 50px;
}
.text-card{
    margin-top: 60px;
    padding: 0 10px 20px 10px;
    text-align: justify;
    background-color: #383838;;
}
/*****************************Section Services End*********************/
.contact{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 50px;
    padding-bottom: 80px;
    background-color: #2a2929;
    width: 100%;
    flex-direction: column;
    text-align: center;
    position: relative;
    color: white;
}
.content-contact{
    padding: 10px 0 20px 0;
}
.content-contact h1{
    font-size: 50px;
    text-transform: uppercase;
    text-shadow: -9px 0px 5px rgb(0 0 0 / 99%);
    letter-spacing: 3px;
    color: white;
    margin-bottom: 30px;
     
}
.container-contact{
    margin: 20px auto;
    padding: 20px;
}
.contact-information{
    border-radius: 50px;
    background: #2a2929;
    box-shadow: 20px 20px 12px #242323, -20px -20px 12px #302f2f;
    padding: 30px;

}
.text-box h3{
    margin: 10px 0 10px 0;
}
.icon{
    margin-top: 10px;
}
/***************************** section foooter *********************/
.footer{
    width: 100%;
    max-width: 100%;
    background-color: #2a2929;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    
    border-top: 2px solid #ffffff1c;
}
.content-footer{
    padding: 40px 0 40px 0;
}
/***************************** Responsive *********************/
@media (max-width: 823px) {
      header nav {
        display: flex;
      }
      .left1{
        margin: 40px;
        padding-right: 68px;
      }
      .title-card {
        font-size: 1.6rem;
        font-weight: bold;
        text-transform: uppercase;
        box-shadow: 6px 0px 0px #d82f2f;
        padding: 0px 8px 0px 48px;
        position: absolute;
        text-align: center;
        outline: none;
      }
      
      .card:hover {
        border: 1px solid #00e6f6;
        transform: scale(0.90);
        
      }
      
      .card:active {
        transform: scale(0.90) rotateZ(1.7deg);
      }
      .title-card:hover{
        box-shadow: -6px 0px 0px #d82f2f;
        padding: 0 7px 0 6px;
        position: absolute;
        left: 50px;
    }
}

/**************  media width 768  ***************/
@media (max-width: 768px) {
    header label{
        display: block;
    }
    header nav{
        position: absolute;
        top: 77px;
        left: -5000px;
        background-color: #1a1a1a;
        width: 100%;
        height: 200px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap:25px;
    
    }
    header nav a {
        font-size: 0.9rem;

    }
    header input[type="checkbox"]:checked + nav{
        left: 0;
        transition: left .5s ease-in-out;
    }
    .main{
        flex-direction: column;
    }
    .left,
    .right{
        width: 100%;
        max-width: 100%;
        padding: 28px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .left{
        font-size: 0.8em;
    }
    .left *{
        width: 95%;
        margin-bottom: 32px;
        text-align: center;
    }
    button{
        max-width: 60%;
        
    }
    .right img{
        width: 80%;
    }
    .about{
        flex-direction: column;

    }
    .container-about{
        width: 100%;
        max-width: 100%;
        height: 100vh;
        display: flex;
        flex-direction: column-reverse;
        justify-content: space-between;
        align-items: center;
    }
    .left1,
    .right1{
        width: 100%;
        max-width: 100%;
        height: 100vh;
        padding: 28px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .left1 img{
        width: 50%;
        text-align: center;
        
  
     }
     .container-card{
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        gap: 25px;
        position: relative;
     }
     .title-card{
        font-size: 1.6rem;
        font-weight: bold;
        text-transform: uppercase;
        box-shadow: 6px 0px 0px #d82f2f;
        padding: 0 8px 0px 81px;
        position: absolute;
        text-align: center;
        
    }
    .card{
        width: 100%;
        height: 33em;
    }
    .contact-information{
        border-radius: 50px;
        background: #2a2929;
        box-shadow: 20px 20px 12px #242323, -20px -20px 12px #302f2f;
        padding: 30px;
        margin: 0 10px 0 10px;
    
    }
}